# HR analytics project

## Imports

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)    # displaying all of the columns in dataframes

## Loading the data

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/ElenaNKn/data_projects/refs/heads/master/data_analytics_google_project/HR_comma_sep.csv')

In [5]:
df.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

## 1. EDA and data cleaning